<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Add employee</h2>
    </div>
    <div class="panel-body">
        <ng-form name="employeeAddForm">
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.firstName.$invalid }">
                        <!--TODO#HR2-->
                        <label for="firstName">firtsName:</label>
                        <input type="text" id="firstName" name="firstName" class="form-control" ng-model="employee.firstName" required>

                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.lastName.$invalid }">
                        <!--TODO#HR2-->
                        <label for="lastName">lastName:</label>
                        <input type="text" id="lastName" name="lastName" class="form-control" ng-model="employee.lastName" required>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.email.$invalid }">
                        <!--TODO#HR2-->
                        <label for="email">email:</label>
                        <input type="email" id="email" name="email" class="form-control" ng-model="employee.email" required>

                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.phoneNumber.$invalid }">
                        <!--TODO#HR2-->
                        <label for="phoneNumber">phoneNumber:</label>
                        <input type="number" id="phoneNumber" name="phoneNumber" class="form-control" ng-model="employee.phoneNumber" required>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.hireDate.$invalid && employeeAddForm.hireDate.$dirty }">
                        <label for="hireDate">Hire Date:</label>
                        <input type="text" id="hireDate" name="hireDate" class="form-control" ng-model="employee.hireDate"
                               placeholder="Hire Date" ng-pattern="datePattern" required>
                        <span class="help-block" ng-show="employeeAddForm.hireDate.$error.required
                             && employeeAddForm.hireDate.$dirty">{{requiredErrorMessage}}</span>
                        <span class="help-block" ng-show="employeeAddForm.hireDate.$error.pattern
                             && employeeAddForm.hireDate.$dirty">{{patternDateNotRespectedMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.jobTitle.$invalid }">
                        <!--TODO#HR2-->
                        <label for="jobTitle">jobtitle:</label>
                        <select id="jobTitle" ng-model="employee.jobId" name="jobTitle" class="form-control" required
                                ng-options="job.jobTitle for job in jobs track by job.jobId">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.salary.$invalid }">
                        <!--TODO#HR2-->
                        <label for="salary">salary:</label>
                        <input type="text" id="salary" name="salary" class="form-control" ng-model="employee.salary" required>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.commissionPct.$invalid && employeeAddForm.commissionPct.$dirty }">
                        <label for="commissionPct">Commission:</label>
                        <input type="text" id="commissionPct" name="commissionPct" class="form-control" ng-model="employee.commissionPct"
                               placeholder="Commission" ng-pattern="commissionPattern" required>
                         <span class="help-block" ng-show="employeeAddForm.commissionPct.$error.required
                             && employeeAddForm.commissionPct.$dirty">{{requiredErrorMessage}}</span>
                         <span class="help-block" ng-show="employeeAddForm.commissionPct.$error.pattern
                             && employeeAddForm.commissionPct.$dirty">{{patternCommisionNotRespectedMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.department.$invalid }">
                        <!--TODO#HR2-->
                        <label for="department">department:</label>
                        <select id="department" ng-model="employee.departmentId" name="department" class="form-control" required
                                ng-options="department.departmentName for department in departments track by department.departmentId">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.manager.$invalid }">
                        <label for="manager">Manager:</label>
                        <select id="manager" ng-model="employee.managerId" name="manager" class="form-control" required
                                ng-options="manager.firstName+' '+ manager.lastName for manager in managers track by manager.employeeId">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <!--TODO#HR4-->

                            <input type="button" ng-disabled="employeeAddForm.$invalid" ng-click="create(employee)" value="Save"/>
                            <input type="button" ng-click="reset()" value="Reset"/>

                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>